.no-image{
	background-image: url('http://purposeunited.com/custom/domain_3/content_files/noimage.gif') !important;
}
.ie .no-image { 
 
                                    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( 
                                            src='http://purposeunited.com/custom/domain_3/content_files/noimage.gif', sizingMethod='scale');
                                    background-image : none !important;
                                }
