/**
* eDirectory - Result Pages ( Modules )
*
* @package			layout
* @filesource		results.css
* @author			Arca Solutions
* @copyright		Copyright (c) 2009, Arca Solutions Inc.
* @version			eDirectory 9.3
* @since			April, 17, 2012
*			
*/

.noresults h3 {font-weight: bold; font-size:16px;line-height: 50px;}

/* #Map
*/
	div.map {border: 1px solid #cccccc; background-color:#fff!important;}	
	div.map .map-loading {background:url(images/iconography/icon-loading-content.gif) no-repeat 80% center transparent;font-size:11px;text-align:center; padding:10px 0;}
    
    .map-info-view {overflow:hidden!important;}
    .map-info-view p, .map-info-view a {font-size:12px;line-height:15px;padding:0;}
    .map-info-view img {width:13px;}
    
/* #Sidebar */   

.sidebar.sidebar-filters {  background-color: #f9f9f9;}
.sidebar-filters h3 { background-color: #e7e7e7;   border: medium none;  font-size: 14px;  font-weight: 600;}

.sidebar-filters .item-filter h3 a {color:#7d7c7d; }

.sidebar-filters a { color:#A2C81F; }

#list_category li:nth-child(2n+2), #list_location li:nth-child(2n+2){ background-color:#f4f4f4; }
#list_category li:nth-child(2n+1), #list_location li:nth-child(2n+1){ background-color:#F9F9F9; }
#list_category, #list_location {border:1px solid #f3f3f3;}

#list_category {
    max-height:330px;
}

#list_location  {
    max-height:220px;
}

.item-filter > a {
    display: block;
    margin: 10px auto;
    text-align: center;
}

.sidebar-filters label, .item-select.price label span {font-size:12px;}

#list_rating label  {font-size:0px;}

.sidebar-filters label span{color:#888;}

.item-select.price label {font-size:16px; font-weight:600; color:#45703a;}

/* #Summary View Structure */

.summary {border:1px solid #dedede; background-color:#fff;}
.summary-backlink {border:2px solid #A2C81F; background-color:#f6f6f6;}

.summary .title {border-bottom:1px solid #dedede;padding-bottom:12px;}
.summary .title p {padding-top: 1px; font-size: 11px;}
.summary .title h3 {line-height:1; font-weight:600; font-size:22px;}
.summary .title h3 a {color:#555;}
.summary .title h3 a:hover{color:#999;}

.summary .line-footer {background-color:#f5f5f4; color:#5e5e5e;}
.summary-backlink .line-footer {background-color:#EBEBEA;}

                      
.summary .line-footer a, .summary .line-footer span{font-size:12px;}

.summary .map-link {padding:0 2px 0 20px; background: url(images/iconography/pin-map.png) no-repeat 1px 1px}

.summary-small .row-fluid > p { margin-top: 10px;font-size: 12px;}
.summary-small .info, .summary-small p,  .summary-small .info a, .summary-small .rate p a, .summary-small .line-footer a, .show-inline  { font-size: 11px; }
.summary-small .map-link {padding: 2px 0 0 20px;}
.summary-small .info p small {color:#353535; font-size:11px;}
/* #Summary Specifics 
	
	Differences between modules. 
	
	* Deals
	* Listings
	* Articles
 */
	
.listing-tag-deal, .deal-tag-small  {background:url(images/iconography/listing-tag-deal-edge.png) no-repeat left 0;}
.deal-tag {background:url(images/iconography/listing-tag-deal-edge-big.png) no-repeat left 0;}

.name-tag-deal {font-size:14px; font-weight:500; background:url(images/iconography/listing-tag-deal-slice.png) repeat-x 0 0;}
.name-tag-deal, .name-tag-deal a {color:#fff;}
.name-tag-deal a:hover {color:#f9f9f9;}

.name-tag-deal small { color: #DDDDDD;}



.summary .deal-tag, .summary .title .price {color: #555555; font-size: 30px;font-weight: bold;line-height: 30px;text-align: right;text-rendering: optimizelegibility;text-shadow: 1px 1px 2px #CCCCCC;}
.info, .info p, .info a {font-size:12px;}

p.button-send a, p.button-call a {font-size:11px;}

/* #Custom Select
.custom-select-listing select {
    border:none;
    border-radius:0; 
    width: auto; 
    font-size:11px; 
    height:22px; 
    padding:1px 9px 1px 2px; 
    margin:0 5px; 
    line-height: 14px;
    background-color:transparent;
    -webkit-appearance: textfield;
   
}
.custom-select-listing select:focus {border:none; outline: none;outline-offset: 0;}

.custom-select-listing .select-arrow{
     background: url("images/iconography/input-icon-caret-down.png") no-repeat scroll  96% center transparent; margin-left:2px; border:1px solid #dedede;
}

.custom-select-listing .select-arrow:after{
     background: url("images/iconography/input-icon-caret-down.png") no-repeat scroll center center #f2f2f2;
    content: "";
    display: block;
    height: 22px;
    position: absolute;
    right: 1px;
    top: 1px;
    width: 32px;
    pointer-events: none;
}
*/

/*#Tab View*/
.content-results-filters .tabs {border-bottom:1px solid #dbdbdb;}
.content-results-filters .tabs li {border:1px solid #dbdbdb;margin-bottom:-1px;}
.content-results-filters .tabs li.active {border-bottom:1px solid #fff;}
.content-results-filters .tabs li a{color:#4c4c4c; font-size:11px;}
.content-results-filters .tabs li:hover {background-color:#ededed; cursor:pointer;}
.content-results-filters .tabs .listView a {background:url(images/iconography/icon-listview.png) no-repeat 5px center}
.content-results-filters .tabs .mapView a {background:url(images/iconography/icon-mapview.png) no-repeat 5px center}

.content-results-filters .tabs .disableMapTab, .content-results-filters .tabs .disableMapTab:hover {opacity:0.5; background-color:#ededed; }


.results-info-listing p {font-size:13px;}
.results-info-listing p strong:after, .results-info-listing p strong:before, 
.search-info p strong:after, .search-info p strong:before 
{content:"\0022";}