/**
* eDirectory - Profile Pages
*
* @package			layout
* @filesource		profile.css
* @author			Arca Solutions
* @copyright		Copyright (c) 2009, Arca Solutions Inc.
* @version			eDirectory 9.1
* @since			October, 04, 2011
*			
*/

/** Detail Misc > Structure */


/** Items Summary */
	
	.item-summary .delete
	{ background:#FDDEDA; border-top:1px solid #8A110C; color:#8A110C; }

/** Tab navigation */

	.profile-tabs li
	{ background:#F5FAFC; border-top:2px solid #F5F5F5; }
	
		.profile-tabs li a:link, .profile-tabs li a:visited, .profile-tabs li a:active
		{ color:#999; }
		
		.profile-tabs li.active
		{ background:#74CBDC; border-top:2px solid #C82059; }
		
			.profile-tabs li.active a:link, .profile-tabs li.active a:visited, .profile-tabs li.active a:active
			{ color:#FFF; }
			
/** Members Table */

table.standard-table th, table.standard-table td
{ color:#62707B; }

/* User info > misc */

	.user-info img
	{ border:3px solid #D0D5D8; }
	
	
	.user-info p span
	{ color:#666; }

/* User info > No image */

	.user-info .no-image
	{ background:#E7E8E8 url(images/iconography/icon-user.gif) no-repeat center !important; }

/* User info > Twitter differences */ 
	
	.user-info .last-tweets .loading
	{ background:url(images/iconography/icon-loading-content.gif) no-repeat center; }
	
	.user-info .last-tweets ul li a
	{ color:#999; }
	
	.user-info .last-tweets ul li span a
	{ color:#004276; }
