/* CSS Document */
body{
	
}
.navbar-static-top{
	
   
    position: relative;
}
.navbar-static-top .header-brand.container{
	min-height:314px;
	
}
.navbar-static-top .brand-logo{
	position:relative;
	z-index:9999;
	width:150px;
	margin-left:10px;
}
.navbar-static-top .brand-logo a{
	width:150px;
	padding:0;
}
.navbar-static-top .navbar-inner{
/*	position:relative;
	z-index:999;
	
	border-radius:5px;
	background:#3d3f41;
	height:50px;*/
}
.navbar-static-top .navbar-inner .nav-collapse{
	/*padding-left:170px;*/
}
.navbar-static-top .navbar-inner .nav-collapse a{
	font-size:12px;
	height:28px;
	line-height:28px;
}
.navbar-static-top .banner{
	position:relative;
	top:65px;
        margin-bottom: 159px
}
.navbar-static-top .banner img{
	position:absolute;
	left:50%;
	margin-left:-240px;
}
.navbar-static-top .banner p{
	position:absolute;
	top:75px;
	text-align:center;
	font-size:18px;
	line-height:1.5;
	color:#000;
}

.well_containerHome{
    margin-top: 82px;
}
.well_containeradvertise{
    margin-top: -52px;
}
.well_containercontactus{
    margin-top: -52px;
}
.well_containerprofile{
        margin-top: -52px;
}
.well_containerorder_listing{
     margin-top: -60px; 
}
.well_containerarticleResults{
      margin-top: -52px;
}
.navbar-static-top .banner p span{
	color:#f00;
}
.search-advanced{
	display:none;
}
.advanced-search .btn-advanced-search{
	display:none;
}
.search-options .advanced-search-box{
	display:block !important;
}
.advanced-search{
	width:73%;
	margin-top:34%;
}
.advanced-search-box{
	min-width:700px;
}
#LocationbaseAdvancedSearch .bootstrap-select{
	margin-right:10px;
}
#resultsInfo_list{
	float: right;
    margin-top: -18px;
    width: 30%;
}
.item-filter li{
	margin-bottom:5px;
}
.item-filter li label{
	float:left;
	width:180px;
	margin-left:5px;
}
.item-filter li a{
	float:right;
}
.well.container{
	/*padding-top:67px;*/
}

@media (max-width: 980px) {
.header-brand{
	/*display:block;*/
}
.brand.logo{
	height:155px;
}
.header-brand .navbar-inner{
	top:70px;
}
.header-brand .nav-collapse{
	position:relative;
	top:-110px;
	left:50%;
	width:25%;
}
.header-brand .nav-collapse ul{
	background:#3D3F41;
}
.hidden-phone {
    display: block !important;
}
.advanced-search-box {
    margin-left: -5%;
    min-width: 600px;
}
}