/**
* eDirectory - Profile Pages
*
* @package			layout
* @filesource		profile.css
* @author			Arca Solutions
* @copyright		Copyright (c) 2009, Arca Solutions Inc.
* @version			eDirectory 9.3
* @since			April, 17, 2012
*			
*/
/*Add Profile*/
.create-profile h3 {font-size:16px; font-weight:normal;}


/*Feature Items*/
.review-top .stars-rating [class*="rate-"] {background-color:#ccc;}
.item-summary h3 {font-size: 22px; font-weight: 600; line-height: 1;}
.item-summary h3 a{color:#555;}
.item-summary h3 a:hover{color:#999;}


a.delete {position:absolute; background-color:#e67e22; color:#fff; padding:0 5px ; right:-1px; top:-20px;}
a.delete:hover {background-color:#d35400;}

/*#Content Profile */
.content-profile .item-summary {border:1px solid #ddd;}

/*#Contents

.content .content-main {border-top:none;}

/*#Sidebar

.sidebar  h3 { background-color: transparent;    border:none; border-bottom:4px solid #a3c821; box-shadow: none;  color: #505050;  font-size: 14px;  text-transform: capitalize;}

.sidebar p {  line-height: 17px;  padding: 4px 0;}

.sidebar .user-info img {  background-color: #F1F1F1;  border: 1px solid #EEEEEE;  border-radius: 50px 50px 50px 50px;   box-shadow: 0 0 2px #555555;
    float: left;    margin: 0 15px 10px 0;    max-height: 90px;    max-width: 90px;    padding: 2px;    width: 100%; min-height:90px; min-width:90px;}

.ie .sidebar .user-info img {    border: 3px solid #ccc; }


/* Profile Tabs
.profile-tabs, .tabs {border-bottom: 1px solid #ddd; font-size:12px;}

.profile-tabs > .active > a, .tabs > .tabActived > a{ color: #555555; text-shadow:0 0 0 #858585;  background-color: #ffffff; border: 1px solid #ddd; border-bottom-color: transparent;}
.profile-tabs > li > a, .tabs > li > a {border-radius: 4px 4px 0 0; border-color:#c2c3c3; background-color:#c2c3c3; color:#fff; font-weight:600; text-shadow: 0px 1px 1px #858585;}
.profile-tabs > li > a:hover, .profile-tabs > li > a:focus, .tabs > li > a:hover, .tabs > li > a:focus {background-color:#afb0b0;border-color:#afb0b0;}

.ie .profile-tabs > .active > a, .profile-tabs > .active > a:hover, .ie .tabs > .tabActived > a, .tabs > .tabActived > a:hover {background-color:#ddd;}


/* #User Info

.user-info .no-image { background: url("images/iconography/icon-user.gif") no-repeat scroll center center #E7E8E8; border: 4px solid #CCCCCC; border-radius: 50px 50px 50px 50px;
    float: left;   height: 80px;   margin: 0 10px 10px 0;   width: 80px;}

.user-info p {font-size:12px; font-weight:400; display:block;}
.user-info p span {display:block;}


/*Featured items

h2.standardSubTitle {font-size:13px; border-bottom: 4px solid #a3c821; margin:0 0 20px 0; padding:0;}

.item-summary {border:1px solid #ddd;}
.item-summary h3 a{color:#313131;} .item-summary h3 a:hover{color:#669900;}
.featured-item {border:1px solid #ccc; border-top:none; background-color:#eee; box-shadow: 0 2px 2px #DDDDDD;}
.featured-item h3 {line-height:36px; color:#fff; font-weight:600; font-size:14px;background-color:transparent;}
.featured-item .info {background-color:#ddd;}


.featured-review .info .reply {
background: url(images/structure/bg-reply.gif) no-repeat left bottom;
border-left: 1px solid #C8CED2;
margin: 15px 0 0;
padding: 0 0 0 20px;
}

.content-profile .summary-small address { height: 69px;}
.content-profile .summary .badges { height: 80px;  margin-top: 4px;}


.summary .line-footer a, .summary .line-footer span { font-size: 10px;  padding-right: 5px;}
.button-send, .button-call {padding:4px 0 0 0;}
.summary .share-social li, .summary .share-actions li {margin: 4px 2px -4px 1px;}
.line-footer .summary-icons.checkin { padding: 2px 0;}

.ie .summary .line-footer .rate {display:inline; float:none;}
.ie .summary .line-footer .rate p, .ie .summary .line-footer .rate img, .ie .summary .line-footer .rate a {display:inline-block;}

/* # ALL Standard Table
*/
[class*="standard-table"] { color:#494949; background-color:#f2f2f1;}
[class*="standard-table"] tr { border:1px solid #ddd;}
[class*="standard-table"] table tr { border:none;}
[class*="standard-table"] i span {font-size:9px;font-style:normal;color:#999;}

/* #Standard Table Top Blue*/

.standard-tableTOPBLUE {border:1px solid #dbdbdb; background-color:#fff; text-align:center;}
.standard-tableTOPBLUE th { background-color:#e9e9e8; font-weight:600;}
.standard-tableTOPBLUE td, .standard-tableTOPBLUE th {border-left: 1px solid #DBDBDB;}

/*#Create profile*

.create-profile.content-custom.title h3 {font-size:14px;line-height:16px}
                                             
                                             
                                             