/**
* eDirectory - Advertise Page
*
* @package			layout
* @filesource		advertise.css
* @author			Arca Solutions
* @copyright		Copyright (c) 2009, Arca Solutions Inc.
* @version			eDirectory 9.3
* @since			October, 17, 2011
*			
*/

/* #Contents*/
.content.content-full {float: left; margin: 5px 2% 30px; padding: 0%; width: 96%; }
.content-main, .tabs {width:96%; margin:0 2%;display:block; padding-bottom:3px;}
.tabs {margin-top: 2%;}

/* #Tabs*/

.tabs li, .tabsLevels li {display:inline-block;}
.tabs > li > a {padding:5px 20px; margin-right: 8px;  }
.tab-container {margin-bottom:40px;}

.ie .tabs > li > a {padding:5px 10px 5px; margin-right: 7px;  }
.ie7 .tabs > li > a {padding:5px 10px 7px; }
.ie .tabsLevels {clear:both; width:100%; }
.ie .level {clear:both;}
.ie .tabsLevels h2 {line-height:20px;}
.ie7 .tabs.tabs-advertise {height:30px;}
.ie7 .tabs li{display:block; float:left;line-height:38px;}
.ie7 .tabsLevels li  {float:left;}

/* #Summary Views*/

.level-summary .no-image, .summary span.no-image, .content-main .summary span.no-image {   border: medium none;  float: left; height: 131px;  width: 100%;}
.level-summary .summary-small .media .summary-image .no-image { height: 90px !important;width:202px!important;}

 .summary span.no-image {   border: medium none;  float: left; height: 131px;  margin: 20px 20px 0 0; width: 100%;}

.level-summary .map {width:auto;}
.preview-desc span {float:right;}

.level-summary .button-send, .level-summary .button-call {float:none;}
.level-summary .button-call { margin: 0; padding: 7px 3px 0px 0;}
.level-summary .button-send { padding: 8px 0px 0px 0;}
.level-summary .summary .rate p {padding-left:0;}
.level-summary .share-social {  margin-left: 0px;}
.level-summary .navicons { float: right;}

.ie .preview-desc span {float:right; margin-top:-25px;}

.level-summary .summary .span6 strong {width:auto; margin-left:5px;}


/* Detail View*/
.content-full .level-detail .content .content-main { border: medium none; margin: 0 auto; padding: 0; width: 96%;}

.level-detail .content { float: left; margin: 0 0 0 -1%;  padding: 0;  width: 69%; border:none;}
.level-detail .nav-tabs > li { margin-bottom: -4px;}

.level-detail .button-send, .level-detail .button-call { padding: 2px 0;}

.level-detail .tab-content .image .no-image {height: 130px;width: 100%;}
.level-detail .tab-content .gallery .no-image {height: 33px;width: 63px; background-size: 84% auto;}
.level-detail .tab-content .gallery .ad-thumb-list li {display: inline-block; width: 65px;margin:10px 3px 0 0;}
.ie .level-detail .tab-content .gallery .ad-thumb-list li {display: block; float:left;}

.content .sidebar .map > img {width:100%;}
.content .sidebar .map {height: 200px;}

.well-small {  width: 256px;}
.level-preview .well-small {width:299px;}

.ie7 .level-detail .tabs {padding-bottom:20px;}
.ie7 .helpful-reviews h2 a.pull-right {margin-top:-32px;}

.level-detail .sidebar h2 {font-size:14px;}
/* #Preview */

.level-preview .content {width: 69%;}
.level-preview .sidebar {width: 27%;margin-right:4%;}


/* #Media queries

	All changes when you want a responsive website
	
*/

@media (min-width: 768px) and (max-width: 979px) {
    .tabs.tabs-advertise > li > a { margin-right: 2px; padding-left: 5px; padding-right: 5px;}
    
    .image-shadow { height: 110px;  width: 68%;}
    .level-detail .tab-content .image .no-image { height: 110px;}
}

@media (max-width: 767px) {
    .level-summary, .level-detail {display:none;}
    .tabs {background-color:#C2C3C3;}
    .tabs.tabs-advertise > li > a {margin: 0; padding-left: 5px; padding-right: 5px; border-radius:0; background:none;}
    .tabs.tabs-advertise > .active > a, .tabs > .active > a:hover, .nav > .active > a:focus  {background-color:#fff;}
    .tabs li, .tabsLevels li { margin-top: 10px;}
    
    .level-info .button.button-profile {display:none;}
}

@media (max-width: 320px) {
    
}
