/**
* eDirectory - Main System Structure
*
* @package			layout
* @filesource		structure.css
* @author			Arca Solutions
* @copyright		Copyright (c) 2009, Arca Solutions Inc.
* @version			eDirectory 9.3
* @since			April, 17, 2012
*			
*/


/* #Global structure with bootstrap 
	
	<div class="well container"> </div>

 */
 
.well.container {border-top-left-radius:0; border-top-right-radius:0;}


/** Global Classes */

.button-featured
{ background:url(images/structure/bg-button.gif) repeat-x 0 0; border-color:#D0D7E1 #D0D7E1 #B4BCC9 #D0D7E1; border-style:solid; border-width:1px; }

	.button-featured a, .button-featured a:visited, .button-featured a:active
	{ color:#898989 !important; }


/** Global classes > Switch button */

.switchOpen, .switchOpen:visited, .switchClose, .switchClose:visited, .switchBlank, .switchBlank:visited
{ background:url(images/iconography/bg_switch_open.gif) no-repeat 0 1px; }

.switchClose, .switchClose:visited
{ background:url(images/iconography/bg_switch_close.gif) no-repeat 0 1px; }

.switchBlank, .switchBlank:visited
{ background:url(images/iconography/bg_switch_blank.gif) no-repeat 0 1px; }

/** Global classes > System Messages */

.informationMessage, .errorMessage, .successMessage, .warningMessage 
{font-size:11px;border-radius:4px; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);}

.informationMessage { background-color:#fcf8e3; border:1px solid #fbeed5; color:#c09853; }

.errorMessage { background-color:#f2dede; border:1px solid #eed3d7; color:#b94a48; }

.successMessage { background-color:#dff0d8; border:1px solid #d6e9c6; color:#468847; }

.warningMessage { background-color:#fcf8e3; border:1px solid #fbeed5; color:#c09853; }

.informationMessage a:link, .informationMessage a:visited, .informationMessage a:active, .errorMessage a:link, .errorMessage a:visited, .errorMessage a:active,
.successMessage a:link, .successMessage a:visited, .successMessage a:active, .warningMessage a:link, .warningMessage a:visited, .warningMessage a:active
{ color:#111; }

.browserMessage
{ background:#fcf8e3; border:1px solid #fbeed5; color:#c09853;}

.resultsMessage
{ color:#636363; }

	.resultsMessage h1
	{ color:#636363; }
	
	.content .resultsMessage h2
	{ background:none; border:none; color:#636363; }
/* #Icons on Home*/
    .i-top-rated, .i-top-deal, .i-top-review, .i-top-locations, .i-top-categories {background-image:url(images/iconography/icons-top-item.png);width:20px; height:20px;display: inline-block;margin: 0 0 -5px 0;}
    .i-top-rated {background-position: 3px 1px;}
    .i-top-deal {background-position: -35px 1px;}
    .i-top-review {background-position: -72px 1px;}
    .i-top-locations{background-position: -103px -2px;}
    .i-top-categories {background-position: -134px -2px;}


/** 
	#Typography

*/

p
{ color:#5e5e5e; }

.content-center h2 {font-size:20px; margin:10px 0 20px 20px;}


.content-center.profile h2 {font-size:18px; margin:0; border-bottom:1px solid #666;}

/* #Forms > Contact form 

*/	
.contact-us-form .real-left > div {margin-top:15px;}

.contact-us-form  label {font-size:12px; color:#6a6162;}

	.contact-form .form .captcha img
	{ border:1px solid #B7C0C7; }

/* #Featured Listings
     The Best Of page for Dining Guide
*/
.featured-listing .thumbnail .image h3,  .featured-item h3 {background-color: rgba(0, 0, 0, 0.7);   color: #FFFFFF;  font-size: 16px;   font-weight: 500;  line-height: 1;   }
.featured-listing .thumbnail .image h3 a {  color: #FFFFFF; } .featured-listing .thumbnail .image h3 a:hover {  color: #EEE; }

/*  #Sidebar for Best Of

*/
.sidebar.bestof  .browse-category { background-color: #444; border: 1px solid #444;font-size: 14px;}
.sidebar.bestof  .browse-category span { display:none;}
.sidebar.bestof .browse-category a {   border-bottom: 1px solid #4E4E4E;   box-shadow: 0 -1px 0 #3B3B3B inset;    color: #FFFFFF;    display: block;    margin: 0 15px;    padding: 12px 0;}
.sidebar.bestof .browse-category a:hover,  .sidebar.bestof .browse-category li:hover a , .sidebar.bestof .browse-category li.active a {  color:#000; border-bottom:1px solid #a2c81f; box-shadow: 0 0 0 #000 inset;}
.sidebar.bestof .browse-category li:hover, .sidebar.bestof .browse-category li.active  { background-color:#a2c81f;box-shadow: 0 0 3px #8cad1c inset;}

.bestof.sidebar-resposive { margin-bottom: 10px;  padding: 2px 0;}
.sidebar-resposive .sidebar-title-bestof {height: 30px;}
.sidebar-resposive .sidebar-title-bestof h5{width:50%; color:#fff; float:left; line-height:30px;}
.sidebar-resposive .browse-category.in.collapse > li { display:inline-table;}

.bestof.sidebar-resposive .browse-category a { border-bottom: 1px solid #444444; border-right: 1px solid #4E4E4E; box-shadow: -1px 0 0 #3B3B3B inset; margin: 0; padding: 10px 15px 10px 10px;}

/* #Special Listing
 */

.special-listing .review-count {clear: both; width: 100%; float: left; margin-bottom: 12px; margin-left:0;}
.special-listing .listing-info {background-color: rgba(0, 0, 0, 0.7);    color: #FFFFFF;  }
.special-listing .listing-info address{line-height:20px; font-size:13px; border-bottom: 1px solid #686868; margin: 0 0 8px 0; padding:0 0 8px 0; min-height:10px;}
.special-listing .listing-info p, .special-listing .listing-info a{ color:#fff;}
.special-listing .listing-info p {line-height: 15px;}
.special-listing .listing-info a:hover {color:#ccc;}
.special-listing .listing-info h2 { border-bottom: 1px solid #686868;   color: #FFFFFF; line-height: 26px;  margin:0 0 5px 0;  padding-bottom: 8px; font-size:22px;}

.ie .featured-listing .thumbnail .image h3,   ie .featured-item h3, .ie .special-listing .listing-info {background-image: url(images/structure/bg-dark-ie.png)}

/** Top Navbar */

.top-navbar
{ background:#000; }
	
	.top-wrapper ul li
	{ background:url(images/structure/bg-top-navbar-split.png) repeat-y right top; }
	
	.top-wrapper ul li:last-child
	{ background:none; }
	
		.top-wrapper ul li a
		{ color:#FFF; }

/** language > all languages */
	
.all-languages
{ background:url(images/structure/bg-black-opacity-90.png) repeat; border-top:1px solid #000; }

	.all-languages h3
	{ color:#FFF !important; }
	
	.all-languages p
	{ color:#636363 !important; }
	
		.all-languages ul li
		{ border-bottom:1px solid #333; color:#FFF; }

#all-languages-button:link, #all-languages-button:visited, #all-languages-button:active
{ background:url(images/iconography/icon-view-more.gif) no-repeat 0 1px; }

/** Top Navbar Open */

	.top-open
	{ background:url(images/structure/bg-button-options.gif) repeat-x 0 0; }
	
	.top-open
	{ -moz-box-shadow:1px 2px 4px #AAA; -webkit-box-shadow:1px 2px 4px #AAA; box-shadow:1px 2px 4px #AAA; }
	
		.top-open a
		{ color:#FFF; }
		
		.top-open a:hover
		{ color:#EC008C; }

/* #Header 

*/

#header-wrapper
{
	min-height: 40px;
padding-right: 20px;
padding-left: 20px;
background-image: -moz-linear-gradient(top, #4e4e4e, #2b2b2b);
background-image: -ms-linear-gradient(top, #4e4e4e, #2b2b2b);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4e4e4e), to(#2b2b2b));
background-image: -webkit-linear-gradient(top, #4e4e4e, #2b2b2b);
background-image: -o-linear-gradient(top, #4e4e4e, #2b2b2b);
background-image: linear-gradient(top, #4e4e4e, #2b2b2b);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4e4e4e, endColorstr=#2b2b2b, GradientType=0);
}

/* #Logo */

.logo { float:left; text-indent:-9999px; background:url(images/imagery/img-logo.png) no-repeat 0 50%;  display:block; height:auto;}


/** #Navbar for Members/Profile Header

*/
#navbar li {font-size:12px;}

#navbar li a
{ color:#FFF; text-shadow:1px 1px 3px #000;line-height: 39px; padding: 11px 16px;}
			
#navbar li a:hover, #navbar .menuActived a
{ color:#9bc11d; text-decoration:none; background-color:#1f1f1f;}

#navbar li a:hover {background-color:#333;}

	
/* #Sidebar

*/
.sidebar h2, .detail-deal .pnt-0 h2 {font-size:14px; color:#a2c81f; text-transform:capitalize; background-color:#3c3c3c;border: 1px solid #353535;  clear:both;}

.sidaber h2:before, .sidebar h2:after {clear:both;}

.sidebar h3 {font-size:16px; line-height:23px; border-bottom:1px solid #d8d8d8; margin:5px 0;}

.sidebar p {color:#353535; font-size:14px; line-height:25px;padding:5px 0;}

.sidebar .content-search
{ background:url(images/structure/bg-search-shadow.png) no-repeat 0 bottom; }

	.sidebar .search
	{ border:1px solid #E5E5E5; border-bottom:1px solid #B5B5B5; }
	
		.sidebar .search .search-box
		{ background:#EDEDED url(images/structure/bg-search-box.png) no-repeat 50% bottom; border:1px solid #FFF; border-bottom:none; color:#111; }
		
			.sidebar .search .search-box h2
			{ color:#111; }
			
				.sidebar .search .search-box button
				{ background:url(images/structure/bg-search-button.gif) repeat-x 0 0; color:#636363; text-shadow:1px 1px 1px #FFF; }
				
				.sidebar .search .search-box button
				{ -moz-box-shadow:1px 1px 0 #FFF; -webkit-box-shadow:1px 1px 0 #FFF; box-shadow:1px 1px 0 #FFF; }
			
				.sidebar .search .search-box select
				{ border:1px solid #BBB; }
				
				.sidebar .search .search-box input
				{ border:1px solid #BBB; }
				
					.sidebar .search .search-box input.ac_loading
					{ background:#FFF url(images/iconography/icon-loading-search.gif) no-repeat 215px 3px; }
				
				.sidebar .search .search-box p
				{ color:#898989; }
					
				.sidebar .search .search-box .view-button
				{ background:url(images/structure/bg-search-view-button.png) repeat-x 0 0; border:1px solid #D8D8D8; color:#636363; }
				
					.sidebar .search .search-box fieldset .view-button a, .sidebar .search .search-box fieldset .view-button a:visited,
					.sidebar .search .search-box fieldset .view-button a:active
					{ color:#636363; }
                    

/* #Searchbar

	A search bar with option to advanced search
*/
.search-location input {background:url(images/iconography/icon-loading-search-location.gif) no-repeat 0px 0px #fff;}
.search-keyword input {background:url(images/iconography/icon-loading-search-keyword.gif) no-repeat -3px 0px #fff;}

.search-location input.ac_loading {background:url(images/iconography/icon-loading-search-location.gif) no-repeat 1px -31px #fff;}
.search-keyword input.ac_loading {background:url(images/iconography/icon-loading-search-keyword.gif) no-repeat -3px -31px #fff;}

.search-advanced .title { color: #fff;  font-size: 11px;  line-height: 22px;}
.search-button .btn-search {border: medium none; border-radius: 0 0 0 0;font-size:12px;}
.search-advanced input {font-size:11px; }

.search-advanced  input:-moz-placeholder { color: #6e9203;}
.search-advanced  input::-moz-placeholder { color: #6e9203;}
.search-advanced  input:-ms-input-placeholder { color: #6e9203;}
.search-advanced  input::-webkit-input-placeholder { color: #6e9203;}

.search-advanced .list-search label{ font-size: 16px; }
    
	.search-advanced .btn-advanced {color:#797978; font-size:12px; text-decoration:underline;}
	.search-advanced .btn-advanced:hover {color:#708c15;}
	
    .search-advanced .border {border-bottom: 1px solid #DEDEDE;margin-top: -9px;}
    .search-advanced .border {margin-top: -9px;}
    
    
    .btn-advanced-search a{font-size:11px; color:#bfbfbf;}    
    
    .search-advanced .search-options p {padding: 23px 0 0px 13px;font-size: 14px;font-weight: 600;}
    
	.advanced-search-box {background-color:#2e2e2e; border:1px solid #262626;}
	
	
        
    .search-options .advanced-search-box .divider-vertical {height: 40px;margin: 0 20px 0 10px;border-right: 1px solid #d8d8d8;border-left: 1px solid #d2d2d2; padding:0;}
        
    .advanced-search h5 {color:#fefefe;}
    
    label.stars-rate {font-size:0; line-height: 10px;}
    label.stars-rate > img { margin-left: -4px; margin-top: -9px;}
    .advanced-search .list-home label, .advanced-search .list-home label span {font-weight:400; color:#fefefe;}
    .advanced-search-box .list-home label.active {color:#81ab01;}
    .symbol label, .advanced-search-box a {color:#81ab01; font-size:11px;}
    .symbol label {font-weight:800; font-size:16px; margin: 1px 0 0 0; vertical-align: middle;}
    .search-advanced .list-search label.stars-rate {font-size:3px;}

/* #Columns

	
*/

.three-columns h2 {color:#fff; padding: 2px 10px 2px 5px; border:1px solid #ebebeb; font-size:16px; background-color:#f5f9e8}
.ie .three-columns h2 {height: 36px;}
.three-columns h2 a {font-size:12px; text-decoration:underline; color:#fff; cursor:pointer;}
.ie7 .three-columns h2 a {margin-top:-43px;}
.three-columns h2 a:hover {text-decoration:none;}
.three-columns h2 i {padding-right:5px;}

.three-columns .top-rated h2 {background-color:#ea853b; border-color:#9e5d29; box-shadow:1px 1px 1px #f3b88a inset; text-shadow: 1px 1px 1px #b46a2f; }
.three-columns .top-deal h2 {background-color:#9bc11d; border-color:#708c15; box-shadow:1px 1px 1px #c3da77 inset; text-shadow: 1px 1px 1px #708c15; }
.three-columns .top-review h2 {background-color:#3c3c3c; border-color:#212121; box-shadow:1px 1px 1px #555555 inset; text-shadow: 1px 1px 1px #212121; }

.three-columns .top-rated h2 i {color:#9e5d29}
.three-columns .top-deal h2 i {color:#708c15}
.three-columns .top-review h2 i {color:#000}

.three-columns .top-review h5 {font-size:13px; font-weight:600;}
.three-columns .top-review ul {margin:5px 5%;}
.three-columns .top-review ul li {padding:10px 0;border-bottom:1px solid #e5e5e5; }
.three-columns .top-review .rate-stars img { width: 15px;}


.three-columns .caption h3 a {color:#000;}
.three-columns .caption h3 a:hover {color:#92bb1a;}


/* #List Home*/
.list-home h2 {color:#585858; font-weight:600;}
.list-home h2 a, .list-home h2 a:hover, .list-home h2 a:active, .list-home h2 a:focus{color:#7f9a32;background-color:transparent;}
.list-home a {color:#444;}
.ie .list-home a {font-size:12px;}
.list-home a:hover, .list-home a span, .list-home label span {color:#919191;}
.list-home a span, .list-home label span {font-size:10px;}
.list-home label {font-size:12px; color:#444; font-weight:400;}

/* #Footer 

	<div id="footer-wrapper"></div>
	
*/

#footer-wrapper
{background: rgba(41,41,41,1);
background: -moz-linear-gradient(top, rgba(41,41,41,1) 0%, rgba(57,57,57,1) 11%, rgba(57,57,57,1) 225px, rgba(45,45,45,1) 225px, rgba(45,45,45,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(41,41,41,1)), color-stop(11%, rgba(57,57,57,1)), color-stop(225px, rgba(57,57,57,1)), color-stop(225px, rgba(45,45,45,1)), color-stop(100%, rgba(45,45,45,1)));
background: -webkit-linear-gradient(top, rgba(41,41,41,1) 0%, rgba(57,57,57,1) 11%, rgba(57,57,57,1) 225px, rgba(45,45,45,1) 225px, rgba(45,45,45,1) 100%);
background: -o-linear-gradient(top, rgba(41,41,41,1) 0%, rgba(57,57,57,1) 11%, rgba(57,57,57,1) 225px, rgba(45,45,45,1) 225px, rgba(45,45,45,1) 100%);
background: -ms-linear-gradient(top, rgba(41,41,41,1) 0%, rgba(57,57,57,1) 11%, rgba(57,57,57,1) 225px, rgba(45,45,45,1) 225px, rgba(45,45,45,1) 100%);
background: linear-gradient(to bottom, rgba(41,41,41,1) 0%, rgba(57,57,57,1) 11%, rgba(57,57,57,1) 225px, rgba(45,45,45,1) 225px, rgba(45,45,45,1) 100%);
 }

.ie #footer-wrapper {background:url(images/structure/bg-footer.png) #393939;}

 #footer-wrapper h3, #footer-wrapper h4, #footer-wrapper h5, #footer-wrapper .footer-nav a {color:#fff;}
 
 #footer-wrapper h4 {border-bottom:1px solid #2b2b2b;padding-bottom:10px; font-size:14px;}
 
 #footer-wrapper address a {color:#d8d9d9; text-decoration:underline} 
 #footer-wrapper a:hover, #footer-wrapper .footer-nav a:hover, #footer-wrapper .footer-nav .menuActived a {color:#9bc11d; text-decoration:none;} 
  
.footer-nav li {font-size:11px; background: url("images/structure/bg-user-navbar-split.gif") repeat-y scroll left top transparent}

#footer-wrapper .powered-by, #footer-wrapper .copyright {font-size:11px; color:#fff;}
	
/** Slider Wrapper */

.slider-wrapper
{ border-bottom:1px solid #FFF; }

	.slider-wrapper .slider-info
	{ background:url(images/structure/bg-slider-info.png) repeat-x 0 0; }
		
		.slider-box-info
		{ background:url(images/structure/bg-slider-info.png) repeat-x 0 0; }
		
			.slider-wrapper .slider-title h2
			{ border-bottom:none; color:#FFF; }
			
			.slider-wrapper .slider-title p
			{ color:#FFF; }
			
		.slider-wrapper .slider-price
		{ border-left:1px solid #FFF; }
		
			.slider-wrapper .slider-price p
			{ color:#FFF; }
			
		.slider-wrapper p.button-read
		{ background:url(images/structure/bg-read-button.png) repeat-x 0 0; }
		
			.slider-wrapper p.button-read a, .slider-wrapper p.button-read a:visited, .slider-wrapper p.button-read a:active
			{ color:#898989; }
	
/** Slider Marker */	

ol#controls-real-estate li a 
{ background:url(images/iconography/bg-slider-navigation.png) no-repeat 0 -16px; }

ol#controls-real-estate li.current a 
{ background:url(images/iconography/bg-slider-navigation.png) no-repeat 0 0; }  
	
/** Contents Structure */

.content-wrapper { background:url(images/imagery/bg-image.png) repeat-x 0 0;}
.content-main {padding:0 6%; border: 1px solid #d8d8d7; border-radius:2px;}

.content-main h2{font-size:18px;}
.content-general .content-main h2{font-weight:600; font-size:18px; margin-bottom:20px; border-bottom:1px solid #d8d8d7;  }
.content-general .filter {width: 100%;float: left;}

.content.content-general {border:1px solid #dedede;}
.content-general .button-contact h2{border:none;}
.content-general .contact-form p{margin-bottom:10px;}

/* #Error Page
*/

.error-page { background:url(images/structure/bg-error-page.png) no-repeat center 15%; height:373px; color:#999; text-align:center;}
.error-page p {color:#999;}



/* #Share box 

*/

.share-box
{ background:url(images/structure/bg-content-share.gif) repeat-x 0 0; border:1px solid #DDD; }
		
	.share-box ul li.close a:link, .share-box ul li.close a:visited, .share-box ul li.close a:active
	{ color:#636363; }
   
/* #Reviews

*/      

.review-item .review-top {background-color:#fbfbfb; border:1px solid #c3c4c4; border-radius:4px 4px 0 0;}
.review-item .review-bottom {background-color:#fff; border:1px solid #c3c4c4; border-radius:0 0 4px 4px; border-top:none;}
.review-item .review-bottom a {color:#3b99b8} .review-item .review-bottom a:hover {color:#245f72}
.review-bottom .number {background: url("images/iconography/bg-review-number.png") no-repeat;}
.review-item  .reply {background: url(images/structure/bg-reply.gif) no-repeat left bottom;border-left: 1px solid #C8CED2;}

.ie .btn.active {background-color:#c3c3c3;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c3c3c3', endColorstr='#cccccc', GradientType=0);}

/* #Top Pagination
	
	*Structure
	
*/

.top-pagination .line-bottom{border-bottom:1px solid #d9d9d7;}
.filter p {color:#3c3c3c; font-size:11px; font-weight:600;}
.filter p strong { font-weight:800;}
.line-bottom .pagination:before{content:"|";font-size:11px; font-weight:800;}
.ie .line-bottom .pagination:before{float:left;}
.content.side-right .line-bottom .pagination:before {    content: "";}

/* #Top Pagination
	
	*RSS
	<a class="rss-feed" title="Subscribe to RSS">Subscribe to RSS</a>
	
*/

.rss-feed { background: url("images/iconography/icon-rss-feed.png") no-repeat scroll center center transparent; display: inline-block; vertical-align: middle; width: 16px;height:30px;  margin: -3px 8px 0 5px; padding: 2px 4px 0 0;}



/* Content misc > breadcrumb */

.breadcrumb
{ color:#393939; font-size:11px; }

	.breadcrumb a, .breadcrumb a:visited 	{ color:#3763b5; }
	.breadcrumb a:hover 	{ color:#a2c81f; }
	
/* Content misc > deals tag */

	.deal-tag-sold-out
	{ background:url(images/iconography/icon-tag-sold-out.png) no-repeat 0 0 !important; }
	
	.deal-tag-special-sold-out
	{ background:url(images/iconography/icon-tag-special-sold-out.png) no-repeat 0 0 !important; }


/* #Standard Button
	
	The old version for submit buttons 
	
	<p class="standardButton">
		<button type="submit">Label</button>
	</p>
	
	Or 
	
	<div class="button">
		<h2>
			<a>Sign in</a>
    	</h2>
	</div>

    Or 
    <input type="button" class="input-button-form" />

*/
	.input-button-form, .bt-highlight  button, .standardButton	button, .button h2 a, .content-faq button , .standardButton > a   
    {padding: 6px 25px; color:#FFF;border-radius:4px;background-color:#a2c81f;  border:1px solid #749116; box-shadow: 1px 1px 0px #c5dd74 inset, 1px 1px 1px #dddddd;}

	 .input-button-form:hover, .bt-highlight  button:hover, .standardButton	button:hover, .button h2 a:hover, .content-faq button:hover, .content-faq button:active, .standardButton > a:hover	{ color:#333; }
	
	.button h2{ font-size:14px;  text-align: center;}
    
    .ie7 .input-button-form, .ie7 .content-faq button{  filter: progid:DXImageTransform.Microsoft.glow(color=#ffffff,strength=1); filter:chroma(color=#ffffff);  border:none; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#F3B98B, endColorstr=#EB893C, GradientType=0);}
    .ie7  .bt-highlight  button, .ie7  .standardButton button{font-size:12px;  filter: progid:DXImageTransform.Microsoft.glow(color=#ffffff,strength=1); filter:chroma(color=#ffffff);  border:none; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#c5dd74, endColorstr=#a2c81f, GradientType=0);}
    .ie7 .button.button-redeem {clear:both; width:100%;}
    .baseButtons a {padding:5px; font-size:11px; margin-top: 20px;}
    
/* #Social Buttons

	Make different buttons for social porpuse
	
	<div class="button .button-facebook">
		<h2>
			<a>Sign in</a>
    	</h2>
	</div>

 */

	.facebookConnect {margin-bottom:3%; padding-bottom: 4%;}

	.facebookConnect p.redeem-option {text-align:center;margin-top:10px;}
	.ie .facebookConnect p.redeem-option{float:left;margin:10px auto;}

	.content-social-box {margin:8% 0; clear:both;}

    
	.pinterestButton {clear:none; float:none; margin-right:5px; display:inline;}

	
    .ie .button.button-facebook {text-align:center;}
    .ie .button-facebook h2 {float:left;width:100%;}
    .ie .facebookConnect .redeem-option {width:100%; text-align:center;}
    
	.button-facebook h2 a:hover {color:#c0ceeb;}
	
	a.btn-facebook, a.btn-twitter  {color:#fff;}
	a.btn-facebook:hover, a.btn-twitter:hover  {color:#c0ceeb;}
	.button-google h2 a, a.btn-google{color:#000;}
	.button-google h2 a:hover, a.btn-google:hover {color:#666;}
	
	.btn-facebook, .btn-google, .btn-id, .btn-twitter{width:46%; clear:both; float:left;margin: 5px 0 ; padding: 6px 35px;color:#FFF;border-radius:4px; }
	.btn-facebook a, .btn-google a, .btn-twitter a {color:#FFF; }
	.button-facebook h2 a, .btn-facebook, a.btn-facebook:focus, a.btn-facebook:active { background:url(images/iconography/btn-facebook.png) no-repeat 11px 4px #3c5a9a ;border: 1px solid #334c81;box-shadow: 1px 1px 0 #7595d9 inset, 1px 1px 1px #DDDDDD; }
	.button-google h2 a, .btn-google {background:url(images/iconography/btn-google.png) no-repeat 9px 7px #eee; border:1px solid #d8d7d7; box-shadow: 1px 1px 0px #fff inset, 1px 1px 1px #fcfcfc; padding: 6px 35px;}
	.btn-twitter {background:url(images/iconography/btn-twitter.png) no-repeat 9px 7px #1c87b3; border:1px solid #0879a5; box-shadow: 1px 1px 0px #4dc0de inset, 1px 1px 1px #fcfcfc;padding: 6px 35px; }
	
    .ie .button-facebook h2 a {background-position: 9px 7px}
    .ie .button-google h2 a {background-position: 9px 9px}
    


/** Content Misc > Default List */

.list li {padding-left: 20px; }
.list li a {color:#363536;font-size:12px}			
.list li span{ color:#5e5e5e; font-size:11px}

/* Content misc > Category List */

	.list-category li, .list-category-blog li
	{ background-image:url(images/iconography/bullet-category.gif); background-repeat:no-repeat; }
	
	.list-category-blog li
	{ background-position:0 center; }
	
	.list-category li a:link, .list-category li a:visited, .list-category li a:active
	{ color:#898989; }
	
	.list-category-blog li a:link, .list-category-blog li a:visited, .list-category-blog li a:active
	{ color:#111; }
	
/* #Browse by category */
	
	.browse-category a {color:#363536}
	.browse-category span {color:#5e5e5e; font-size:12px;}
    
    .browse-category .view-all-cat  {text-align: right;}
    .browse-category .view-all-cat a { color: #919191; font-size:11px; }
    .browse-category .view-all-cat a:hover { color: #333;  }
    
/* #Tree-view Special*/
.categoryTreeview li { color: #666666; font-size: 11px;}

	.treeView li.loading { background:url(images/iconography/icon-loading-content.gif) no-repeat 20px 5px; clear:both; float:none; font-size:12px; padding:10px 10px 10px 60px; width:auto; }

	.treeView li .categoryTitle, .treeView li .categoryTitle:visited
	{ color:#111; float:left; font-weight:normal; padding:0 0 0 4px; width:90%; }
	
	.treeView .switchOpen, .treeView .switchOpen:visited,
	.treeView .switchClose, .treeView .switchClose:visited
	{ background:url(images/iconography/bg_switch_open.gif) no-repeat 2px 3px; display:block; float:left; height:17px; overflow:hidden; text-decoration:none; text-indent:100px; width:17px; }
	
	.treeView .switchClose, .treeView .switchClose:visited
	{ background:url(images/iconography/bg_switch_close.gif) no-repeat 2px 5px; }
    
    .categorySuccessMessage { color:#9bc11c;font-weight:600;}
    .categoryErrorMessage {color:#d54620;font-weight:600;}
    a.categoryAdd {color:#d86815; font-weight:600;}
    a.categoryAdd:hover {color:#999;}
			
/* Content misc > Sitemap */

	.sitemap h3
	{ border-bottom:1px solid #E6E8E9; }
	
		.sitemap h3 a:link, .sitemap h3 a:visited, .sitemap h3 a:active
		{ color:#111; }
		
/* Content misc > Twitter */
	
	.last-tweets .loading
	{ background:url(images/iconography/icon-loading-footer.gif) no-repeat center; height:60px; }
    
    .sidebar .last-tweets .loading
	{ background:url(images/iconography/icon-loading-content.gif) no-repeat center; }
	
	.last-tweets ul
	{ color:#d8d9d9; }
	
		.last-tweets ul li a:link, .last-tweets ul li a:visited, .last-tweets ul li a:active
		{ color:#8e8d8d; }

		.last-tweets ul li span 
			{ color:#d8d9d9; }
		
			.last-tweets ul li span a:link, .last-tweets ul li span a:visited, .last-tweets ul li span a:active
			{ color:#749116; }

.sidebar .last-tweets ul, .sidebar .last-tweets ul li a:link, .sidebar .last-tweets ul li a:visited, .sidebar .last-tweets ul li a:active, .sidebar .last-tweets ul li span { color:#555; }
			

/* #Contact on Footer
		<address>Address: Street, number, City</address>
*/

.span3.contact address {line-height:25px;padding-top:8px; color:#d8d9d9;}



/** Slider > slider structure */

#slider
{ background:#FFF; border:1px solid #DFDFDF; }

/** Slider > slider style */

	#slider .right
	{ background:url(images/structure/bg-slider-info.png) repeat 0 0; border-right:1px solid #33759F; }

	#slider h2
	{ color:#FFF799; }
	
		#slider h2 a:link, #slider h2 a:visited, #slider h2 a:active
		{ color:#FFF; }
	
	#slider p
	{ color:#FFF; }
	
	#slider .info
	{ background:#DEDEDE; }
		
/** Slider > slider control */
		
	ol#controls li a 
	{ background:url(images/iconography/bg-slider-navigation.png) no-repeat 0 -12px; }
	
	ol#controls li.current a 
	{ background:url(images/iconography/bg-slider-navigation.png) no-repeat 0 0; }


/** Accordion */

#accordion .view-all{ text-align:right; color:#919191;}	
#accordion .view-all a{color:#919191; font-size:11px;}	
#accordion .view-all a:hover {color:#000;}	

.accordion-item h3 {border:none; font-size:14px; font-weight:600;}
.accordion-item h3 a{color:#363536;}

.accordion-item h3{background-color:#f4f4f3; padding:4px 10px 4px 5px;}
.accordion-item h3 a{background:url("images/structure/accordion-list.png") no-repeat scroll right -28px #f4f4f3;}
.accordion-item.active h3 a{background-position: right 8px;}

	
				
/** Calendar */

.table-calendar
{ background:#EDEDED; color:#636363; }
	
	.table-calendar .calendar-header 
	{ background:#E1E1E1; border-bottom:1px solid #D4D4D4; }
	
	.table-calendar .calendar-button
	{ background-image:url(images/iconography/bt-calendar-arrow.png); }
	
	.table-calendar .left
	{ background-position:0 0; }
	
	.table-calendar .right
	{ background-position:0 -27px; }
	
	.table-calendar .today, .table-calendar .selected
	{ color:#636363; }
	
	.table-calendar .selected
	{ color:#EC008C; }

/* #Advertisement */
		
	.advertisement .info p a:link, .advertisement .info p a:visited, .advertisement .info p a:active
	{ color:#636363; }
	
/* #Advertisement > Sponsored */

.sponsored { background:#FFF; border:1px solid #ddd; font-size: 11px; line-height: 14px; }
.sponsored:hover { border-color:#ccc; }

.sponsored .title {width: 100%; text-align: center; float: left; font-weight: 600; color:#024174 }	
.sponsored .url {color:#024174; }	
.sponsored .text {color:#898989; }
	
/* #Order Page > Standard steps */

.standardStep-Title {font-size:16px; font-weight:600;}
.standardStep-Title span {font-size:20px; font-weight:800; color:#111;}

.steps-ui {background:url(images/structure/step.png) transparent; color: #666666;
    font-size: 18px;  font-weight: 600;  text-shadow: 0 1px 0 #FFFFFF;  white-space: pre-wrap;  word-wrap: break-word;  line-height: 42px;}
.ie .steps-ui {font-size:16px;}

.steps-ui.stepActived {background:url(images/structure/step-active.png) transparent; color:#fff; text-shadow: 0 1px 0 #333;}
.steps-ui.stepLast {background:url(images/structure/step-last.png); }
.steps-ui.stepLast.stepActived  {background:url(images/structure/step-last-active.png); }


/** Popups > TB_window */

#TB_window
{ background:#FFF !important; } 

		
/*Package*/


.packageTable td {background-color: #F1F0EB; font-size:12px;}


/*New Advertising*/

.order h1, .order h3, .order-head li.active  {color:#595959}
	
.order h3 {font-size: 14px; margin-bottom:10px; font-weight: 600; line-height: 23px;}	
.order h1 {font-size: 24px;margin: auto 0 35px 30px;}
.order .right p {margin-top:4px; font-size:12px; line-height:25px;}		

.content .order-head h2 {background: none;border: none;line-height: 30px;}
.order-head li {color: #ccc; text-align: center;}
.order-head i {color: #EA8239; font-style: normal;}
.blockcontinue {background-color: transparent;border: 1px solid #ddd;}

.order label {color: #666;}

.order-head {border-color:#eee;}
.order .right {border-color: #eee;}

/* #By Cuisine

*/

.category-name { background-color:rgba(0, 0, 0, 0.7);}
.ie .category-name{background: url("images/structure/bg-dark-ie.png") repeat;}

.category-link {border-top:1px solid rgba(255, 255, 255, 0.2); border-bottom:1px solid rgba(255, 255, 255, 0.2);text-align: center;font-size:18px; }
.ie .category-link {border-top:1px solid #444444; border-bottom:1px solid #444444;}
.category-link  a:hover {color:#a2c81f;}
.category-link  a {color:#fff;}

.category-image {border:1px solid #dedede;}
.allcategories p {font-size:12px}
.allcategories small {font-size:11px;}

/* #Pagination*/

/* #Top Pagination
	
	*Line-top
	
*/

.line-top {background-color:#3c3c3c; box-shadow:0 2px 3px #CCC;}
.line-top > div > span > strong{font-size:15px; font-weight:600;}
.line-top > div > span > strong:before{content:"\0022"; font-size:13px;} .line-top > div > span > strong:after{content:"\0022";font-size:13px;}

.line-top span, .line-top label {color:#a2c81f; line-height: 27px;font-weight:400;font-size:11px;white-space: normal; }

.line-bottom, .line-bottom label{font-size:11px;}


/* #Newsletter*/

.newsletter {background: url("images/structure/bg-newsletter.png") repeat #e6e2db; border-radius:6px; border: 1px solid #b2ab9b; border-bottom-color:#efece3; border-right-color:#efece3; box-shadow: 1px 1px 0 #B2AB9B, 1px 1px 0 #EFECE3 inset;}
.ie .newsletter { border: 1px solid #b2ab9b; border-bottom-color:#b2ab9b; border-right-color:#b2ab9b;}
.newsletter .box-newsletter {border-radius:6px; background-color:#eeeae2;}
.newsletter .box-newsletter h3 {font-size:18px; font-weight:600; color:#4d6780; text-shadow: 1px 1px 0 #FFFFFF;}
.ie .newsletter .box-newsletter h3 {font-size:17px; font-weight:500; }
.ie .newsletter .box-newsletter .btn {font-size:13px; font-weight:400; }
.newsletter .img-newsletter {background:url("images/imagery/img-newsletter.png") no-repeat center center;}
.newsletter .button-close a {background-image:url("images/structure/btn-close.png");}
.newsletter-info {color:#a59f94; text-align:right;font-size:10px; }

.newsletter .errorMessage {margin-right: 4%;}


/* #All Locations*/
.all_location_first {background-color:#eee; line-height: 10px;}
.all_location_first a {color:#000; text-shadow:0 1px 1px #ccc;font-size:14px; font-weight:800;}
.all_location_first a:hover {color:#333;}

.all_location_middle { background-color:#e6eec9; color:#000; line-height:12px; font-size:12px; font-weight:600;}

.link a, .all_location_middle a {color:#000;}
.link a:hover, .all_location_middle a:hover {color:#333;}

 .switchOpen, .switchClose { text-indent: 100px; }
 
.all_location_middle .switchClose, .all_location_middle .switchOpen {background: url("images/structure/location-list-middle.png") no-repeat scroll center 2px transparent;    float: right;}
.all_location_first  .switchClose, .all_location_first  .switchOpen {background: url("images/structure/location-list.png") no-repeat scroll center 2px transparent;    float: right;}

.all_location_first .switchClose {background-position: center 2px;}
.all_location_first .switchOpen  {background-position: center -32px;}

                                    
.all_location_middle .switchClose {background-position: center 3px;}
.ie7 .all_location_middle .switchClose {background-position: center 0px;}
.all_location_middle .switchOpen  {background-position: center -31px;}
.ie7 .all_location_middle .switchOpen  {background-position: center -34px;}


.ie7 .child > ul {margin:-10px auto}
.ie7 .link {margin:-10px 0 5px 0}
.ie7 .browse-locations .clearfix {margin:0; height:0; padding:0;}

.ie7 .switchOpen, .ie7 .switchClose { text-indent:0px; background-image:none;}
