/**
* eDirectory - Home Page ( Modules )
*
* @package			layout
* @filesource		front.css
* @author			Arca Solutions
* @copyright		Copyright (c) 2009, Arca Solutions Inc.
* @version			eDirectory 9.3
* @since			October, 17, 2011
*			
*/


/* #No-Images */
	.span9 .span4.flex-box  .no-image{height:96px;} /*Home Listing*/

    .flex-box.span6 > a > .no-image {height:131px;}

    .flex-box-group .span6 > section > a > span.no-image {height:140px; margin: 10px auto;} 
	
	.flex-box.span8  aside .no-image {height:122px;}

    .flex-box .span12 > aside > a > span.no-image {height:159px;}
    
    .flex-box .span12 > aside.span8 > a > span.no-image {height:200px;}

    .flex-box-group .item-preview aside .no-image {min-height:40px; height:40px;}

    .flex-box aside span.no-image { position:inherit; background:url("images/imagery/no-image.png") no-repeat scroll center center transparent;padding:0; background-size:100%;}


/* Deal Fix*/
.ie .btn.span12.btn-success {line-height:33px;padding:2px 0;}


/*Filters*/
.sidebar-browseby .item-select {display:block;}



/* #Responsive
*/
@media (min-width: 980px) {
	.btn.span12.btn-success {width:101%;}
	.span3 .btn.span12.btn-success {width:100%;}
	}

@media (min-width: 768px) and (max-width: 979px) {
	
.flex-box-group .item-preview aside .no-image { height: 28px !important; min-height: 28px;}

.flex-box aside span.no-image {min-height:89px;}

.flex-box section aside { padding-bottom: 0;}

.flex-box.span6 > a > .no-image { height: 93px;}

.flex-box .span12 > aside.span8 > a > span.no-image { height: 167px;}

.sidebar-browseby .item-select {display:block;}


.span9 .span4.flex-box .no-image { height: 70px;}
.flex-box .span12 > aside.span8 > a > span.no-image {height:144px;}

.span8.flex-box section aside .no-image {height:90px;}



}

@media (max-width: 767px) {
.no-image {background:none!important;height:10px !important; min-height:10px;}
.span8.flex-box section aside .no-image{min-height:90px;}
.flex-box .span12 > aside > a > span.no-image {background:none; min-height:0px; height:0px!important;}
.flex-box aside span {display:block;position:inherit;background-color:#222;}

.sidebar-browseby .item-select {display:none;}


	/* #Search*/
		.row-fluid.box-order{
			display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
			display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
			display: -ms-flexbox;      /* TWEENER - IE 10 */ 
			-moz-box-orient:vertical;
			-webkit-box-orient:vertical;
			display: -ms-flexbox;       
			-ms-flex-flow: column;          
		}
		
		.box-order .order-1 {
			-webkit-box-ordinal-group: 1;   
			-moz-box-ordinal-group: 1;      
			-ms-flex-order:1;              
			-webkit-order:1;               
			order: 1;                       
		}
		
		.box-order .order-2 {
			-webkit-box-ordinal-group: 2;  
			-moz-box-ordinal-group: 2;     
			-ms-flex-order: 2;     
			-webkit-order: 2;  
			order: 2;
		}
		.box-order .order-3{
			-webkit-box-ordinal-group:3;  
			-moz-box-ordinal-group: 3;     
			-ms-flex-order: 3;     
			-webkit-order: 3;  
			order: 3;
		}

   
}


@media (max-width: 480px) {	  
    .span8.flex-box section aside .no-image {display:none;}
    .flex-box section aside {width:100%;}
    
}