.para1
{
	font-size:20px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	margin:20px 0;
	font-weight:bold;
        color:#000;
}

.part
{
	margin-left: 1% !important;
        font-size:15px;
}

.para2
{
	font-size:16px;
	font-weight:bold;
}

.para2, .para3
{
	text-align:center;
        font-size:17px;
        color:#000;
}

.pad
{
	padding:0 40px;
}
